Django==3.1.8
dj-database-url==0.5.0
djangorestframework==3.12.2
django-reversion==3.0.9
django-reversion-compare==0.14.0
psycopg2==2.8.6
psycogreen==1.0.2
gevent==21.1.2
drf-extensions==0.6.0
urllib3==1.26.4
celery